<div id="content">
<table><tr>
<%FOREACH p IN cfg%>
<%IF loop.count % 4 == 3 %></tr><tr><%END%>
<td><a href='/voter/edit/<%p.id%>'><%p.Name%> <%p.Middle_Name%> <%p.Family_Name%> </td>
<%END%>
</table>
</div>
