<div id="content">
<div id='header'>
<h1>List of All voters in this RWA</h1>
</div>
<table><tr>
<%FOREACH p IN cfg%>
<%IF loop.count % 2 == 1 %></tr><tr><%END%>
<td><%p.Name%> <%p.Middle_Name%> <%p.Family_Name%>  <a href='<% request.uri_base %>//voter/print/<%p.id%>'>Edit/Print</a> <a href='<% request.uri_base %>//voter/new/<%p.id%>'>Copy</a> </td>
<%END%>
</table>
</div>
